{% extends 'post_app/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}

{% block content %}
<section>
    <h2>Привет!</h2>
    <p>Меня зовут [Ваше имя], и это мой личный блог. Здесь я делюсь своими мыслями, проектами и историями из жизни.</p>
</section>
<section>
    <h2>Чем я занимаюсь?</h2>
    <p>Я увлечен [ваша основная сфера деятельности или интересы]. Моя цель — создавать полезный контент и вдохновлять других. На этом блоге вы найдете статьи на тему [темы блога].</p>
</section>
<section>
    <h2>Мои увлечения</h2>
    <ul>
        <li>Чтение книг</li>
        <li>Путешествия</li>
        <li>Изучение новых технологий</li>
        <li>Написание статей</li>
    </ul>
</section>
{% endblock %}
