<div class="comments-section">
    <h3>Комментарии</h3>
    
    

    <div class="comments-list">
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <p class="comment-author">{{ comment.user }}</p>
                    <p class="comment-text">{{ comment.text }}</p>
                    <span class="comment-date">{{ comment.created_at }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>Комментариев пока нет</p>
        {% endif %}
    </div>
</div>