{% extends 'post_app/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}

{% block content %}
<article>
    <h2>Первый пост</h2>
    <p>Это пример текста для первого поста в блоге. Вы можете заменить его на свою информацию. Дизайн минималистичен и подойдет для любого проекта.</p>
</article>
<article>
    <h2>Второй пост</h2>
    <p>Добавьте сюда текст второго поста. Структура проста, но удобна для чтения.</p>
</article>
{% endblock %}